.searchBox{
  margin-top: 10px ;
  /* width: fit-content;
  height: fit-content; */
  position: relative;
  margin-right: -30px;
}

.btnSearch{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 200px;
  color: rgb(101, 219, 93); ;
  background-color:transparent;
  pointer-events: painted;  
}

.btnSearch:focus ~ .inputSearch{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(147, 0, 192);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  /* border-radius: 25px; */
}

.btnSearch:hover{
  color: rgb(101, 219, 93);
}

.inputSearch:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgb(101, 219, 93);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.inputSearch{
  height: 50px;
  width: 300px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: rgb(147, 0, 192);
  padding-right: 40px;
  color:#fff;
  margin-right: 10px;
}
.inputSearch::placeholder{
  color: rgb(101, 219, 93);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  /* background-color: rgb(147, 0, 192); */
  border-radius: 25px;
}

.btnSearchBar{
    min-width: 90px;
    height: 35px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: rgb(101, 219, 93);
    overflow: hidden;
    border: 3px solid rgb(147, 0, 192);
    color: #fff;
    margin: 0.3em 0em 1em 0.5em;
}

.btnSearchBar:hover {
  color: rgb(101, 219, 93);
  border: 3px solid rgb(101, 219, 93);
}

.btnSearchBar:hover:after {
  width: 100%;
}

.btnSearchBar:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background:  rgb(147, 0, 192);
};






