.about {
    display: flex;
    flex-direction: column;
}

.about h1 {
    margin-top: 100px;
    color: rgb(101, 219, 93);
    font-style: italic;
}


.about div{
    position: relative;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about p {
    text-align: justify;
    color: white;
    font-style: italic;
    font-size: 24px;
}

.about img {
    max-width: 25%;
    margin-right: 5%;
    border-radius: 20%;
    border: 3px solid rgb(101, 219, 93);
}