.searchInput{
    height:35px;
    font-size: 20px;
    margin-top: 20px;
}

.btnSearchBar{
    min-width: 130px;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #33ff5c;
    overflow: hidden;
    border: 2px solid #fff;
    color: #fff;
    margin: 0.3em 0.5em 1em 0.5em;
}

.btnSearchBar:hover {
  color: #33ff5c;
}

.btnSearchBar:hover:after {
  width: 100%;
}

.btnSearchBar:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #fff;
};
